{% extends 'base.html' %}
{% load static %}
{% block title %}Events{% endblock %}
	{% block content %}
		<section class="pager-section">
			<div class="container">
				<div class="pager-content text-center">
					<h2>Events</h2>
					<ul>
						<li><a href="#" title="">Home</a></li>
						<li><span>Events</span></li>
					</ul>
				</div><!--pager-content end-->
				<h2 class="page-titlee">Shelly</h2>
			</div>
		</section><!--pager-section end-->

		<section class="page-content">
			<div class="container">
				<div class="course-section">
					<div class="courses-list">
						<div class="row">
							{% for event in events %}
							<div class="col-lg-6">
								<div class="course-card">
									<div class="d-flex flex-wrap align-items-center">
										<ul class="course-meta">
											<li>
												<img src="{% static 'assets/img/icon12.png' %}" alt="">
												{{event.date}}
											</li>
											<li>
												{{event.time}}
											</li>
										</ul>
										<span>{% if event.upcoming %}Upcoming{%endif%}</span>
									</div>
									<h3><a href="#" title="">Digital Transformation Conference</a></h3>
									<div class="d-flex flex-wrap">
										<div class="posted-by">
											<img src="{{event.event_by_image.url}}" style="width: 30px;height: 30px;border-radius: 50%;" alt="">
											<a href="#" title="">{{event.event_by}}</a>
										</div>
										<span class="locat"><img src="{% static 'assets/img/loct.png' %}" alt="">{{event.location}}</span>
									</div>
								</div><!--course-card end-->
							</div>
							{% endfor %}						

						</div>
					</div><!--courses-list end-->
				</div>
				<div class="mdp-pagiation">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							{% if prev_page %}
					    	<li class="page-item"><a class="page-link" href="/events/?page_no={{prev_page}}">{{prev_page}}</a></li>
							{% endif %}
							{% if current_page %}
					    	<li class="page-item"><a class="page-link active" href="/events/?page_no={{current_page}}">{{current_page}}</a></li>
							{% endif %}
					    	{% if next_page %}
							<li class="page-item"><a class="page-link" href="/events/?page_no={{next_page}}">{{next_page}}</a></li>
							{% endif %}
					  	</ul>
					</nav>
				</div><!--pagination-end-->
			</div>
		</section><!--page-content end-->

		{% include 'newsletter.html' %}

	{% endblock %}