{% extends 'base.html' %}
{% load static %}
{% block title %}Events{% endblock %}
	{% block content %}
		<section class="pager-section">
			<div class="container">
				<div class="pager-content text-center">
					<h2>Events</h2>
					<ul>
						<li><a href="#" title="">Home</a></li>
						<li><span>Events</span></li>
					</ul>
				</div><!--pager-content end-->
				<h2 class="page-titlee">Shelly</h2>
			</div>
		</section><!--pager-section end-->

		<section class="page-content">
			<div class="container">
				<div class="course-section">
					<div class="courses-list">
						<div class="row">


							<div class="col-lg-6">
								<div class="course-card">
									<div class="d-flex flex-wrap align-items-center">
										<ul class="course-meta">
											<li>
												<img src="{% static 'assets/img/icon12.png' %}" alt="">
												29/07/2020
											</li>
											<li>
												11AM to 15PM
											</li>
										</ul>
										<span>FREE</span>
									</div>
									<h3><a href="#" title="">Digital Transformation Conference</a></h3>
									<div class="d-flex flex-wrap">
										<div class="posted-by">
											<img src="https://via.placeholder.com/26x26" alt="">
											<a href="#" title="">Amanda Kern</a>
										</div>
										<span class="locat"><img src="{% static 'assets/img/loct.png' %}" alt="">43 castle road 517 district</span>
									</div>
								</div><!--course-card end-->
							</div>


							<div class="col-lg-6">
								<div class="course-card">
									<div class="d-flex flex-wrap align-items-center">
										<ul class="course-meta">
											<li>
												<img src="{% static 'assets/img/icon12.png' %}" alt="">
												29/07/2020
											</li>
											<li>
												11AM to 15PM
											</li>
										</ul>
										<span>$16</span>
									</div>
									<h3><a href="#" title="">Environment conference</a></h3>
									<div class="d-flex flex-wrap">
										<div class="posted-by">
											<img src="https://via.placeholder.com/26x26" alt="">
											<a href="#" title="">Cvita Doleschall</a>
										</div>
										<span class="locat"><img src="{% static 'assets/img/loct.png' %}" alt="">43 castle road 517 district</span>
									</div>
								</div><!--course-card end-->
							</div>

							
							<div class="col-lg-6">
								<div class="course-card">
									<div class="d-flex flex-wrap align-items-center">
										<ul class="course-meta">
											<li>
												<img src="{% static 'assets/img/icon12.png' %}" alt="">
												29/07/2020
											</li>
											<li>
												11AM to 15PM
											</li>
										</ul>
										<span>$8</span>
									</div>
									<h3><a href="#" title="">Campus clean workshop</a></h3>
									<div class="d-flex flex-wrap">
										<div class="posted-by">
											<img src="https://via.placeholder.com/26x26" alt="">
											<a href="#" title="">Helena Brauer</a>
										</div>
										<span class="locat"><img src="{% static 'assets/img/loct.png' %}" alt="">43 castle road 517 district</span>
									</div>
								</div><!--course-card end-->
							</div>
							<div class="col-lg-6">
								<div class="course-card">
									<div class="d-flex flex-wrap align-items-center">
										<ul class="course-meta">
											<li>
												<img src="{% static 'assets/img/icon12.png' %}" alt="">
												29/07/2020
											</li>
											<li>
												11AM to 15PM
											</li>
										</ul>
										<span>FREE</span>
									</div>
									<h3><a href="#" title="">Digital Transformation Conference</a></h3>
									<div class="d-flex flex-wrap">
										<div class="posted-by">
											<img src="https://via.placeholder.com/26x26" alt="">
											<a href="#" title="">Amanda Kern</a>
										</div>
										<span class="locat"><img src="{% static 'assets/img/loct.png' %}" alt="">43 castle road 517 district</span>
									</div>
								</div><!--course-card end-->
							</div>
							<div class="col-lg-6">
								<div class="course-card">
									<div class="d-flex flex-wrap align-items-center">
										<ul class="course-meta">
											<li>
												<img src="{% static 'assets/img/icon12.png' %}" alt="">
												29/07/2020
											</li>
											<li>
												11AM to 15PM
											</li>
										</ul>
										<span>$16</span>
									</div>
									<h3><a href="#" title="">Environment conference</a></h3>
									<div class="d-flex flex-wrap">
										<div class="posted-by">
											<img src="https://via.placeholder.com/26x26" alt="">
											<a href="#" title="">Cvita Doleschall</a>
										</div>
										<span class="locat"><img src="{% static 'assets/img/loct.png' %}" alt="">43 castle road 517 district</span>
									</div>
								</div><!--course-card end-->
							</div>
							<div class="col-lg-6">
								<div class="course-card">
									<div class="d-flex flex-wrap align-items-center">
										<ul class="course-meta">
											<li>
												<img src="{% static 'assets/img/icon12.png' %}" alt="">
												29/07/2020
											</li>
											<li>
												11AM to 15PM
											</li>
										</ul>
										<span>$8</span>
									</div>
									<h3><a href="#" title="">Campus clean workshop</a></h3>
									<div class="d-flex flex-wrap">
										<div class="posted-by">
											<img src="https://via.placeholder.com/26x26" alt="">
											<a href="#" title="">Helena Brauer</a>
										</div>
										<span class="locat"><img src="{% static 'assets/img/loct.png' %}" alt="">43 castle road 517 district</span>
									</div>
								</div><!--course-card end-->
							</div>

						</div>
					</div><!--courses-list end-->
				</div>
				<div class="mdp-pagiation">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
					    	<li class="page-item"><a class="page-link" href="#">1</a></li>
					    	<li class="page-item"><a class="page-link active" href="#">2</a></li>
					    	<li class="page-item"><a class="page-link" href="#">3</a></li>
					    	<li class="page-item"><a class="page-link" href="#">4</a></li>
					    	<li class="page-item"><a class="page-link" href="#">...</a></li>
					    	<li class="page-item"><a class="page-link" href="#">15</a></li>
					  	</ul>
					</nav>
				</div><!--pagination-end-->
			</div>
		</section><!--page-content end-->

		{% include 'newsletter.html' %}

	{% endblock %}