{% load static %}

<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-about">
                        <img src="{{ headers_footers.logo.url }}" alt="" style="width: 100px;height: 100px;">
                        <p>{{ headers_footers.info|safe}}</p>
                    </div><!--widget-about end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-contact">
                        <ul class="contact-add">
                            <li>
                                <div class="contact-info">
                                    <img src="{% static 'assets/img/icon1.png' %}" alt="">
                                    <div class="contact-tt">
                                        <h4>Call</h4>
                                        <span>+977 {{ headers_footers.phone_number }}</span>
                                    </div>
                                </div><!--contact-info end-->
                            </li>
                            <li>
                                <div class="contact-info">
                                    <img src="{% static 'assets/img/icon2.png' %}" alt="">
                                    <div class="contact-tt">
                                        <h4>Work Time</h4>
                                        <span>{{ headers_footers.work_time }}</span>
                                    </div>
                                </div><!--contact-info end-->
                            </li>
                            <li>
                                <div class="contact-info">
                                    <img src="{% static 'assets/img/icon3.png' %}" alt="">
                                    <div class="contact-tt">
                                        <h4>Address</h4>
                                        <span>{{ headers_footers.address }}</span>
                                    </div>
                                </div><!--contact-info end-->
                            </li>
                        </ul>
                    </div><!--widget-contact end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-links">
                        <h3 class="widget-title">Quick Links</h3>
                        <ul>
                            <li><a class="active" href="/" title="">Home</a></li>
                            <li><a href="/events/" title="">Events</a></li>
                            <li><a href="/teachers/" title="">Teachers</a></li>
                            <li><a href="/schedule/" title="">Schedule</a></li>
                            <li><a href="/gallery/" title="">Gallery</a></li>
                            <!-- <li><a href="/contacts/" title="">Contacts</a></li> -->
                        </ul>
                    </div><!--widget-links end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-iframe">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3553.858065725872!2d87.31249091550977!3d27.034650583075305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ef4eb9128fc865%3A0x5e3837a7542b1e02!2sManakamana%20Secondary%20Boarding%20School%2C%20Hile!5e0!3m2!1sen!2snp!4v1643044693900!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div><!--widget-iframe end-->
                </div>
            </div>
        </div><!--top-footer end-->
        <div class="bottom-footer">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>© Copyrights 2022 Manakamana Secondary Boarding School. All rights reserved.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="social-links">
                        {% if headers_footers.facebook_url %}
                        <li><a href="{{ headers_footers.facebook_url }}" title="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        {% endif %}
                        {% if headers_footers.google_url %}
                        <li><a href="{{ headers_footers.google_url }}" title="" target="_blank"><i class="fab fa-google"></i></a></li>
                        {% endif %}
                        {% if headers_footers.instagram_url %}
                        <li><a href="{{ headers_footers.instagram_url }}" title="" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </div><!--bottom-footer end-->
    </div>
</footer><!--footer end-->