{% load static %}
<header>
    <div class="container">
        <div class="header-content d-flex flex-wrap align-items-center">
            <div class="logo">
                <a href="/" title="">
                    <img src="https://msbs.edu.np{{ headers_footers.logo.url }}" alt="" srcset="{% static 'assets/img/01_Logo_2x.png 2x' %}" style='width: 95px;height: 95px;'> 
                </a>
            </div><!--logo end-->
            <ul class="contact-add d-flex flex-wrap">
                <li>
                    <div class="contact-info">
                        <img src="{% static 'assets/img/icon1.png' %}" alt="">
                        <div class="contact-tt">
                            <h4>Call</h4>
                            <span>+977 {{ headers_footers.phone_number }}</span>
                        </div>
                    </div><!--contact-info end-->
                </li>
                <li>
                    <div class="contact-info">
                        <img src="{% static 'assets/img/icon2.png' %}" alt="">
                        <div class="contact-tt">
                            <h4>Work Time</h4>
                            <span>{{ headers_footers.work_time }}</span>
                        </div>
                    </div><!--contact-info end-->
                </li>
                <li>
                    <div class="contact-info">
                        <img src="{% static 'assets/img/icon3.png' %}" alt="">
                        <div class="contact-tt">
                            <h4>Address</h4>
                            <span>{{ headers_footers.address }}</span>
                        </div>
                    </div><!--contact-info end-->
                </li>
            </ul><!--contact-information end-->
            <div class="menu-btn">
                <a href="#">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                    <span class="bar3"></span>
                </a>
            </div><!--menu-btn end-->
        </div><!--header-content end-->
        <div class="navigation-bar d-flex flex-wrap align-items-center">
            <nav>
                <ul>
                    <li><a class="{% if home_active %}active{% endif %}" href="/" title="">Home</a></li>
                    <li><a class="{% if events_active %}active{% endif %}" href="/events/" title="">Events</a></li>
                    <li><a class="{% if teachers_active %}active{% endif %}" href="/teachers/" title="">Teachers</a></li>
                    <li><a class="{% if schedule_active %}active{% endif %}" href="/schedule/" title="">Schedule</a></li>
                    <li><a class="{% if gallery_active %}active{% endif %}" href="/gallery/" title="">Gallery</a></li>
                    <!-- <li><a class="{% if contacts_active %}active{% endif %}" href="/contacts/" title="">Contacts</a></li> -->
                </ul>
            </nav><!--nav end-->
            <ul class="social-links ml-auto">
                {% if headers_footers.facebook_url %}
                <li><a href="{{ headers_footers.facebook_url }}" title="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                {% endif %}
                {% if headers_footers.google_url %}
                <li><a href="{{ headers_footers.google_url }}" title="" target="_blank"><i class="fab fa-google"></i></a></li>
                {% endif %}
                {% if headers_footers.instagram_url %}
                <li><a href="{{ headers_footers.instagram_url }}" title="" target="_blank"><i class="fab fa-instagram"></i></a></li>
                {% endif %}
            </ul>
        </div><!--navigation-bar end-->
    </div>
</header><!--header end-->

<div class="responsive-menu">
    <ul>
        <li><a class="{% if home_active %}active{% endif %}" href="/" title="">Home</a></li>
        <li><a class="{% if events_active %}active{% endif %}" href="/events/" title="">Events</a></li>
        <li><a class="{% if teachers_active %}active{% endif %}" href="/teachers/" title="">Teachers</a></li>
        <li><a class="{% if schedule_active %}active{% endif %}" href="/schedule/" title="">Schedule</a></li>
        <li><a class="{% if gallery_active %}active{% endif %}" href="/gallery/" title="">Gallery</a></li>
        <!-- <li><a class="{% if contacts_active %}active{% endif %}" href="/contacts/" title="">Contacts</a></li> -->
    </ul>
</div><!--responsive-menu end-->