{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

	{% block home_page %}
	<div class="main-section">

		{% include 'headers.html' %}

		<section class="main-banner">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7 col-md-7">
						<div class="banner-text wow fadeInLeft" data-wow-duration="1000ms">
							{{home_obj.first_row_desc|safe}}
							<form action='schedule/' method='GET' class="search-form">
								<input list="gradeSearch"  type="text" name="search" placeholder="Search Class">
								<datalist id="gradeSearch" style='width: 200px;max-width: 200px;'>
									{% for grade in grade_list %}
										<option value="Grade {{grade}}">
									{% endfor %}
									
									
								</datalist>
								<button type='submit'><i class="fa fa-search"></i></button>
							</form>
						</div>
					</div>
					<div class="col-lg-5 col-md-5">
						<div class="banner-img wow zoomIn" data-wow-duration="1000ms">
							<img src="{{home_obj.first_row_image.url}}" style='width: 497px;height: 586px;' alt="https://via.placeholder.com/497x586">
						</div><!--banner-img end-->
						<div class="elements-bg wow zoomIn" data-wow-duration="1000ms"></div>
					</div>
				</div>
			</div>
		</section><!--main-banner end-->
		
		<h2 class="main-title">{{home_obj.first_row_title}}</h2>

	</div><!--main-section end-->
	{% endblock %}

	
	{% block content %}
		<section class="about-us-section">
			<div  class="container">
				<div class="section-title text-center">
					{{home_obj.second_row_desc|safe}}
				</div><!--section-title end-->
				<div class="about-sec">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="abt-col wow fadeInUp" data-wow-duration="1000ms">
									<img src="{% static 'assets/img/icon5.png' %}" alt="">
									{{home_obj.second_row_top_title_one|safe}}
								</div><!--abt-col end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="abt-col wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
									<img src="{% static 'assets/img/icon7.png' %}" alt="">
									{{home_obj.second_row_top_title_two|safe}}
								</div><!--abt-col end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="abt-col wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
									<img src="{% static 'assets/img/icon8.png' %}" alt="">
									{{home_obj.second_row_top_title_three|safe}}
								</div><!--abt-col end-->
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="abt-col wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
									<img src="{% static 'assets/img/icon9.png' %}" alt="">
									{{home_obj.second_row_top_title_four|safe}}
								</div><!--abt-col end-->
							</div>
						</div>
					</div>
				</div><!--about-rw end-->
				<div class="abt-img">
					<ul class="masonary">
						<li class="width1 wow zoomIn" data-wow-duration="1000ms"><a href="{% if home_obj.second_row_image_one %}{{home_obj.second_row_image_one.url}}{% else %}https://via.placeholder.com/1414x943{% endif %}" data-group="set1" title="" class="html5lightbox"><img src="{% if home_obj.second_row_image_one %}{{home_obj.second_row_image_one.url}}{% else %}https://via.placeholder.com/1414x943{% endif %}" alt=""></a></li>
						<li class="width2 wow zoomIn" data-wow-duration="1000ms"><a href="{% if home_obj.second_row_image_two %}{{home_obj.second_row_image_two.url}}{% else %}https://via.placeholder.com/1440x961{% endif %}" data-group="set1" title="" class="html5lightbox"><img src="{% if home_obj.second_row_image_two %}{{home_obj.second_row_image_two.url}}{% else %}https://via.placeholder.com/1440x961{% endif %}"alt=""></a></li>
						<li class="width3 wow zoomIn" data-wow-duration="1000ms"><a href="{% if home_obj.second_row_image_three %}{{home_obj.second_row_image_three.url}}{% else %}https://via.placeholder.com/2064x1376{% endif %}" data-group="set1" title="" class="html5lightbox"><img src="{% if home_obj.second_row_image_three %}{{home_obj.second_row_image_three.url}}{% else %}https://via.placeholder.com/2064x1376{% endif %}" alt=""></a></li>
						<li class="width4 wow zoomIn" data-wow-duration="1000ms"><a href="{% if home_obj.second_row_image_four %}{{home_obj.second_row_image_four.url}}{% else %}https://via.placeholder.com/1504x1004{% endif %}" data-group="set1" title="" class="html5lightbox"><img src="{% if home_obj.second_row_image_four %}{{home_obj.second_row_image_four.url}}{% else %}https://via.placeholder.com/1504x1004{% endif %}"alt=""></a></li>
						<li class="width5 wow zoomIn" data-wow-duration="1000ms"><a href="{% if home_obj.second_row_image_five %}{{home_obj.second_row_image_five.url}}{% else %}https://via.placeholder.com/1440x960{% endif %}" data-group="set1" title="" class="html5lightbox"><img src="{% if home_obj.second_row_image_five %}{{home_obj.second_row_image_five.url}}{% else %}https://via.placeholder.com/1440x960{% endif %}" alt=""></a></li>
						<li class="width6 wow zoomIn" data-wow-duration="1000ms"><a href="{% if home_obj.second_row_image_six %}{{home_obj.second_row_image_six.url}}{% else %}https://via.placeholder.com/1393x929{% endif %}" data-group="set1" title="" class="html5lightbox"><img src="{% if home_obj.second_row_image_six %}{{home_obj.second_row_image_six.url}}{% else %}https://via.placeholder.com/1393x929{% endif %}" alt=""></a></li>
						<li class="width7 wow zoomIn" data-wow-duration="1000ms"><a href="{% if home_obj.second_row_image_seven %}{{home_obj.second_row_image_seven.url}}{% else %}https://via.placeholder.com/1840x1228{% endif %}" data-group="set1" title="" class="html5lightbox"><img src="{% if home_obj.second_row_image_seven %}{{home_obj.second_row_image_seven.url}}{% else %}https://via.placeholder.com/1840x1228{% endif %}" alt=""></a></li>
						<li class="width8 wow zoomIn" data-wow-duration="1000ms"><a href="{% if home_obj.second_row_image_eight %}{{home_obj.second_row_image_eight.url}}{% else %}https://via.placeholder.com/1404x936{% endif %}" data-group="set1" title="" class="html5lightbox"><img src="{% if home_obj.second_row_image_eight %}{{home_obj.second_row_image_eight.url}}{% else %}https://via.placeholder.com/1404x936{% endif %}" alt=""></a></li>
						<li class="width9 wow zoomIn" data-wow-duration="1000ms"><a href="{% if home_obj.second_row_image_nine %}{{home_obj.second_row_image_nine.url}}{% else %}https://via.placeholder.com/750x502{% endif %}" data-group="set1" title="" class="html5lightbox"><img src="{% if home_obj.second_row_image_nine %}{{home_obj.second_row_image_nine.url}}{% else %}https://via.placeholder.com/750x502{% endif %}" alt=""></a></li>
						<li class="width10 wow zoomIn" data-wow-duration="1000ms"><a href="{% if home_obj.second_row_image_ten %}{{home_obj.second_row_image_ten.url}}{% else %}https://via.placeholder.com/1500x1000{% endif %}" data-group="set1" title="" class="html5lightbox"><img src="{% if home_obj.second_row_image_ten %}{{home_obj.second_row_image_ten.url}}{% else %}https://via.placeholder.com/1500x1000{% endif %}" alt=""></a></li>
					</ul>
				</div><!-- abt-img end-->
			</div>
		</section><!--about-us-section end-->

		

		<section class="teachers-section">
			<div class="container">
				<div class="section-title text-center">
					{{home_obj.third_row_desc|safe}}
				</div><!--section-title end-->
				<div class="teachers">
					<div class="row">
						{% for teacher in teachers %}
						<div class="col-lg-3 col-md-3 col-sm-6 col-6 full-wdth">
							<div class="teacher">
								<div class="teacher-img">
									<img src="{{teacher.image.url}}" alt="" class="w-100" style="width:100%;height: 300px;">
									<div class="sc-div">
										<ul>
											{% if teacher.instagram_url %}
											<li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
											{% endif %}
											{% if teacher.linkedin_url %}
											<li><a href="#" title=""><i class="fab fa-linkedin-in"></i></a></li>
											{% endif %}
											{% if teacher.facebook_url %}
											<li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
											{% endif %}
											{% if teacher.google_url %}
											<li><a href="#" title=""><i class="fab fa-google"></i></a></li>
											{% endif %}
										</ul>
										<span><img src="{% static 'assets/img/plus.png' %}" alt=""></span>
									</div>
								</div>
								<div class="teacher-info">
									<h3><a href="#" title="">{{teacher.name}}</a></h3>
									<span>{{teacher.designation}}</span>
								</div>
							</div><!--teacher end-->
						</div>
						{% endfor %}

					</div>
				</div><!--teachers end-->
			</div>
		</section>

		<section class="course-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="find-course">
							<div class="sec-title">
								{{home_obj.forth_row_desc|safe}}
							</div><!--sec-title end-->
							<div class="course-img">
								<img src="{{event_image.image.url}}" style='width: 476px;height: 526px;' alt="">
							</div><!--course-img end-->
						</div><!--find-course end-->
					</div>
					<div class="col-lg-6">
						<div class="courses-list">
							{% for event in events %}
							<div class="course-card wow fadeInLeft" data-wow-duration="1000ms">
								<div class="d-flex flex-wrap align-items-center">
									<ul class="course-meta">
										<li>
											<img src="{% static 'assets/img/icon12.png' %}" alt="">
											{{event.date}}
										</li>
										<li>
											{{event.time}}
										</li>
									</ul>
									<span>{% if event.upcoming %}Upcoming{%endif%}</span>
								</div>
								<h3><a href="#" title="">{{event.title}}</a></h3>
								<div class="d-flex flex-wrap">
									<div class="posted-by">
										<img src="{{event.event_by_image.url}}" style="width: 30px;height: 30px;border-radius: 50%;" alt="">
										<a href="#" title="">{{event.event_by}}</a>
									</div>
									<span class="locat"><img src="{% static 'assets/img/loct.png' %}" alt="" />{{event.location}}</span>
								</div>
							</div><!--course-card end-->
							{% endfor %}
						</div><!--courses-list end-->
						<a href="events" title="" class="all-btn">All Events <i class="fa fa-long-arrow-alt-right"></i></a>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</section><!--course-section end-->

		{% include 'newsletter.html' %}
	{% endblock %}
	<!-- {% block script %}
	<script>
		$(document).ready(function () {
			$('#class-search').click(function(e) {
				e.preventDefault();
				console.log($('#gradeSearch'), $('#gradeSearch').val());
				let grade_val = $('#gradeSearch').val().split(" ");
				location.href = window.location.href + '/schedule/?grade=' + gradeSearch[1]
			})
		})
	</script>
	{% endblock %} -->

